html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  position: relative;
}

.header {
  @apply font-inter text-3xl sm:text-4xl font-semibold text-primary-500 mb-2 pb-2 border-b border-b-gray-200;
}

.button {
  @apply px-3 py-2 cursor-pointer transition ease-out duration-300 w-fit rounded-lg text-white font-semibold;
}
